:root {
  --color-first: rgb(255, 209, 152);
  --color-second: rgb(255, 189, 138);
  --color-third: rgb(255, 177, 111);
  --color-fourth: rgb(204, 130, 165);
  --color-fifth: rgb(96, 142, 181);
  --color-gradient-one: linear-gradient(to bottom right, rgb(96, 142, 181), rgb(204, 130, 165), rgb(255, 177, 111));
  --color-gradient-two: linear-gradient(to bottom right, rgb(96, 142, 181), rgb(204, 130, 165));
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    var(--color-first) 0%,
    var(--color-second) 15%,
    var(--color-third) 35%,
    var(--color-fourth) 65%,
    var(--color-fifth) 100%
  );
  background-repeat: no-repeat;
  height: 100vh;
}

h1 {
  margin-top: 2.5% !important;
  margin-bottom: 1rem !important;
  font-size: 9rem;
  font-family: "Times New Roman", Times, serif;;
}
h4 {
  font-size: 8rem;
  margin-top: 0;
}

h1,
h4, p, .btn {
  text-align: center;
  color: white;
  font-weight: 500;
  text-shadow:
    /* Thinner black outline */ -0.5px -0.5px 0 black,
    0.5px -0.5px 0 black, -0.5px 0.5px 0 black, 0.5px 0.5px 0 black,
    -0.5px 0px 0 black, 0.5px 0px 0 black, 0px -0.5px 0 black, 0px 0.5px 0 black,
    /* Your custom shadow */ 10px 10px 10px var(--color-fourth);
}

nav {
  width: 100%;
  height: 2rem;
  padding: 1.5rem;
  margin-left: -2rem;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
  align-items: center;
  z-index: 100;
  background-color: var(--color-fifth);
  border-bottom: solid grey 2px;
}

.nav__links {
  display: flex;

}

.nav__link {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.image-wrapper {
  width: 1500px;
  height: auto;
  overflow: hidden;
  margin-left: 5%;
  margin-top: 5%;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* or 'contain' */
  border-radius: 2%;
}

.logo{
  position: absolute;
  width: 200px;
  height: auto;
  margin-left: 5rem;
  transform: rotate(350deg);
}

.logo img{
    width: 100%;
  height: 100%;
  object-fit: cover; /* or 'contain' */
}

.slogan {
  float: right;
  margin-right: 5%;
  line-height: 1.7;
  margin-top: 7%;
}

.highlight {
  position: relative;
  background-image: var(--color-gradient-one);
  text-shadow: none;
  border-radius: 30px 0px 20px 0px;
  padding: 1.5rem;
}

.preorder-btn{
  position: absolute;
  right: 15vw;
  bottom: 35vh;
}

.btn{
  width: 20rem;
  background-image: var(--color-gradient-one);
  display: inline-flex;
  justify-content: center;
  color: white;
  padding: 0.6rem 1.2rem;
  border: solid 1px black;
  border-radius: 8px;
  text-decoration: none; /* Remove underline */
  transition: transform 0.3s ease;
  font-size: large;
  padding: 20% 20%;
}

.preorder-msg{
  position: absolute;
  top: 50rem;
  left: 50rem;
  width: 20vw;
  background-image: var(--color-gradient-two);
  border: solid black 2px;
  border-radius: 10%;
  padding: 15rem;
  z-index: 5;
}

.preorder-msg h4{
  margin-bottom: 0;
}

.close-msg{
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden{
  display: none;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 4;
}

/*GTA 6 colours
https://design.tutsplus.com/tutorials/how-to-recreate-the-gta-6-background--cms-108376
*/
